.idea/
venv/

data/raw/babies/*
!data/raw/babies/.gitkeep

data/processed/test/babies/*
data/processed/test/men/*
data/processed/test/none/*
data/processed/test/women/*
!data/processed/test/babies/.gitkeep
!data/processed/test/men/.gitkeep
!data/processed/test/none/.gitkeep
!data/processed/test/women/.gitkeep

data/processed/train/babies/*
data/processed/train/men/*
data/processed/train/none/*
data/processed/train/women/*
!data/processed/train/babies/.gitkeep
!data/processed/train/men/.gitkeep
!data/processed/train/none/.gitkeep
!data/processed/train/women/.gitkeep

data/processed/val/babies/*
data/processed/val/men/*
data/processed/val/none/*
data/processed/val/women/*
!data/processed/val/babies/.gitkeep
!data/processed/val/men/.gitkeep
!data/processed/val/none/.gitkeep
!data/processed/val/women/.gitkeep